<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Single view</title>
</head>
<body>
        <h1>Book</h1>
        <p>Title: <%= article.title %></p>
        <p>Author: <%= article.author %></p>
        <p>Rating: <%= article.rating %></p>
</body>
</html>